<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>使用卷积神经网络（ Convolutional Neural Networks ）实现的手写字母识别</title>
  <title> </title>
	<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>

<body>
		<h1>  使用卷积神经网络（2-D Convolutional Neural Networks ）实现的手写字母识别 </h1>

		<div class="centered">
			<canvas id="canvas" width="280" height="280"></canvas>
		</div>

		<div class="centered">
			<input type="button" class="predict_button" value="预测" style="">
			<input type="button" id="clear_button" value="清空" style="">
		</div>

		<div class="centered">
			<h1 id="result"></h1>
		</div><br><br>
		<div class="centered">
			<h1 id="confidence"></h1>
		</div>
  		<script src="{{url_for('static',filename='jquery-3.2.0.min.js')}}"></script>
	    <script src="{{url_for('static',filename='index.js')}}"></script>
	    <script type="text/javascript">
	   		$(".predict_button").click(function(){
	   			$('#result').text('  预测中...');
	   			var $SCRIPT_ROOT = {{request.script_root|tojson|safe}};
	   			var canvasObj = document.getElementById("canvas");
	   			var img = canvasObj.toDataURL('image/png');
	   			$.ajax({
	   				type: "POST",
	   				url: $SCRIPT_ROOT + "/predict/",
	   				data: img,
	   				success: function(data){
	   					$('#result').text('预测结果: ' + data.prediction);
	   					$('#confidence').text('置信度: ' + data.confidence + '%');
                                        }
	   			});
	   		});
	   </script>
</body>
</html>
